/* --------------------------------------------- */
/* Variables */
/* --------------------------------------------- */
:root {
  /* font size */
  --font-size-regular: 16px;
  --font-size-medium: 18px;
  --font-size-header: 24px;
  --font-size-text: 14px;
  --font-size-small: 12px;

  /* color */
  --brand-color: #009b3e;
  --theme-color-primary: #3fb93b;
  --theme-color-dark: #005335;
  --title-color: #191d20;
  --sub-title-color: #585858;
  --text-color: #868686;
  --text-color-white: #ffffff;

  --body-bg: #f1f1f1;
  --section-bg: #ffffff;
  --seconday-bg: #143d69;
  --footer-bg: #262830;
  --disabled-btn-bg: #d1d1d1;

  --social-links-color: #87898C;
  --light-border-color: #e1e1e1;

  --font-regular: 'Proxima Nova', Georgia, sans-serif;
  --font-light: 'proxima_nova_ltthin', Georgia, sans-serif;
  --font-medium: 'proxima_nova_ltsemibold', Georgia, sans-serif;
  --font-bold: 'proxima_nova_altbold', Georgia, sans-serif;
  --font-black: 'proxima_nova_altblack', Georgia, sans-serif;
}

/* --------------------------------------------- */
/* General */
/* --------------------------------------------- */
body {
  background-color: var(--body-bg);
  font-family: var(--font-regular);
}
@media screen and (max-width: 768px) {
}

/* --------------------------------------------- */
/* helper */
/* --------------------------------------------- */
.no-outline:focus, .no-outline:active {
  outline: none;
}

/* --------------------------------------------- */
/* navigation */
/* --------------------------------------------- */

/* bootstrap modification */
.navbar {
  position: relative;
  background-color: var(--section-bg);
  padding-top: 20px;
  padding-bottom: 20px;
}
.navbar-brand-centered {
  position: absolute;
  top: 10px;
  left: calc(50% - 54px);
}

/* custom style */
#logo {
  height: 59px;
  width: auto;
}
.mims-nav-link {
  text-transform: uppercase;
  color: #3d3d3d !important;
  font-size: var(--font-size-medium);
  padding: 10px 30px !important;
}
.mims-nav-link.home {
  margin-left: 120px !important;
}
.mims-nav-link.active {
  color: var(--brand-color) !important;
}
.left-links, .right-links {
  position: absolute;
  top: 30px;
}
.left-links {
  left: 24px;
}
.right-links {
  right: 24px;
}
.side-link {
  color: var(--social-links-color);
  font-size: var(--font-size-medium);
  margin: 0 3px;
}

/* responsive */
@media screen and (max-width: 768px) {
  .navbar-container {
    display: block !important;
  }
  .navbar {
    border-bottom: 1px solid var(--light-border-color);
  }
  .navbar-brand-centered {
    top: 10px;
    left: calc(50% - 33px);
  }
  .menu-btn {
    border: none;
    padding: 0;
  }
  #logo {
    height: 26px;
  }
  .mims-nav-link {
    padding: 5px 0 !important;
  }
  .mims-nav-link.home {
    margin-left: 0 !important;
  }
  .left-links, .right-links {
    position: relative;
    left: 0;
    right: 0;
    display: inline-block;
    top: 10px;
  }
}


/* --------------------------------------------- */
/* banner */
/* --------------------------------------------- */
.banner {
  height: 500px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url('../images/banner-bg.jpg');
  background-position: bottom center;
  background-color: var(--seconday-bg);
  background-size: cover;
}
.search-wrapper {
  display: flex;
  flex-direction: column;
  position: relative;
  top: -20px;
  width: 800px;
}

/*search tabs*/
.search-tabs {
	list-style: none;
	margin: 0;
	width: 100%;
  padding: 0 16px;
}
.search-tabs li {
	float: left;
	position: relative;
}
.search-tabs a {
  float: left;
  padding: 6px 16px;
  text-decoration: none;
  color: var(--section-bg);
  font-size: var(--font-size-medium);
  font-family: var(--font-light);
  -webkit-border-top-left-radius: 7px;
  -webkit-border-top-right-radius: 7px;
  -moz-border-radius-topleft: 7px;
  -moz-border-radius-topright: 7px;
  border-top-left-radius: 7px;
  border-top-right-radius: 7px;
}
.search-tabs .active {
  z-index: 3;
}
.search-tabs .active a {
  background: var(--section-bg);
  color: var(--theme-color-primary);
  font-family: var(--font-regular);
}
.search-tabs li:before, .search-tabs li:after,
.search-tabs li a:before, .search-tabs li a:after {
  position: absolute;
  bottom: 0;
}
.search-tabs li:last-child:after,   .search-tabs li:last-child a:after,
.search-tabs li:first-child:before, .search-tabs li:first-child a:before,
.search-tabs .active:after,   .search-tabs .active:before,
.search-tabs .active a:after, .search-tabs .active a:before {
  content: "";
}
.search-tabs .active:before, .search-tabs .active:after {
  background: var(--section-bg);
  z-index: 1;
}
.search-tabs li:before, .search-tabs li:after {
  width: 10px;
  height: 10px;
}
.search-tabs li:before {
  left: -10px;
}
.search-tabs li:after {
  right: -10px;
}
.search-tabs li a:after, .search-tabs li a:before {
  width: 12px;
  height: 14px;
  -webkit-border-radius: 8px;
  -moz-border-radius:    8px;
  border-radius:         8px;
  background: #143d69;
  z-index: 2;
}
.search-tabs li:first-child.active a:before,
.search-tabs li:last-child.active a:after {
  background: #143d69;
}
.search-tabs li a:before {
  left: -12px;
	border-bottom-left-radius: 0;
	border-top-right-radius: 0;
}
.search-tabs li a:after {
  right: -12px;
	border-top-left-radius: 0;
	border-bottom-right-radius: 0;
}
.search {
  border-radius: 4px;
  overflow: hidden;
  position: relative;
}
.search-bar {
  width: 100%;
  border: none;
  padding: 16px;
}
.search-btn {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  width: 56px;
  background-color: var(--theme-color-primary);
  border: none;
  cursor: pointer;
}
.search-btn .search-icon {
  height: 32px;
  width: 32px;
}
.search-btn:hover {
  background-color: var(--brand-color);
}

/* alphabets */
.alphabets {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-top: 16px;
}
.alphabet-link {
  color: var(--text-color-white);
}

/* --------------------------------------------- */
/* home product slider */
/* --------------------------------------------- */
.home-product-slider-container {
  position: relative;
  height: 120px;
}
.home-product-slider-wrapper {
  position: absolute;
  top: -100px;
  left: 0;
  width: 100%;
  overflow-x: hidden;
}
.home-product-slide img {
  width: 92%;
  height: auto;
  margin: 0 auto;
  border-radius: 4px;
}
@media screen and (max-width: 768px) {
  .home-product-slider-container {
    margin-top: 10px;
    padding: 10px 0;
    height: 126px;
  }
  .home-product-slider-wrapper {
    position: relative;
    width: 92vw;
    margin-left: 4vw;
    top: 0;
  }
  .home-product-slide img {
    width: 98%;
    height: auto;
    margin: 0 auto;
  }
}

/* --------------------------------------------- */
/* advert */
/* --------------------------------------------- */
.advert img{
  position: relative;
  width: 100%;
  height: auto;
  border-radius: 4px;
  overflow: hidden;
  margin-top: 30px;
}
@media screen and (max-width: 768px) {
  .advert-container {
    padding: 0 15px;
  }
  .advert img{
    margin-top: 16px;
  }
}

/* --------------------------------------------- */
/* content sections */
/* --------------------------------------------- */
.content-section {
  background-color: var(--section-bg);
  padding: 24px;
  margin-top: 30px;
  height: 100%;
  max-height: 430px;
  border-radius: 4px;
}
.section-header {
  font-family: var(--font-medium);
  color: var(--title-color);
  font-size: var(--font-size-header);
  margin-bottom: 20px;
  padding: 10px;
}
.section-header.own-pad {
  padding: 30px 30px 10px 30px;
}
.section-header span img {
  height: 32px;
  width: auto;
  margin-right: 10px;
  position: relative;
  top: -1px;
}
.section-header-view-all-btn {
  color: var(--text-color) !important;
  font-size: var(--font-size-regular);
  float: right;
  margin-top: 0px;
  cursor: pointer;
}
.section-col {
  position: relative;
  padding-bottom: 80px;
}
.section-col .see-more-btn {
  position: absolute;
  bottom: 20px;
  left: 14px;
  font-family: var(--font-medium);
  color: var(--text-color);
}
.section-col h4 {
  font-size: var(--font-size-regular);
  color: var(--title-color);
  font-family: var(--font-bold);
  text-transform: uppercase;
  margin-bottom: 16px;
}
.section-col p {
  font-size: var(--font-size-regula);
  color: var(--text-color);
  margin-bottom: 10px;
}

@media screen and (max-width: 768px) {
  .content-section {
    padding: 0;
    margin-top: 16px;
    height: auto;
    max-height: none;
  }
  .section-header.own-pad {
    padding: 16px;
  }
  .section-header {
    font-size: var(--font-size-medium);
    padding: 16px;
    margin-bottom: 0;
  }
  .section-col {
    border-bottom: 1px solid var(--light-border-color);
    padding: 0;
    padding-bottom: 50px;
  }
  .section-col h4 {
    margin-bottom: 10px;
    text-align: center;
    padding: 10px;
  }
  .section-col p {
    margin-bottom: 6px;
    padding: 0 16px;
  }
  .section-col .see-more-btn {
    position: absolute;
    bottom: 10px;
    left: 0;
    right: 0;
    text-align: center;
    font-family: var(--font-medium);
    color: var(--text-color);
  }
}

/* --------------------------------------------- */
/* star product */
/* --------------------------------------------- */
.star-product {
  background-color: var(--section-bg);
  margin-top: 30px;
  height: 100%;
  max-height: 430px;
  border-radius: 4px;
  overflow: hidden;
}
.star-product .star-product-img {
  width: 100%;
  height: 240px;
}
.star-product .star-product-img img {
  height: 100%;
  width: 100%;
}
.star-product-info {
  padding: 24px;
  position: relative;
}
.star {
  background-color: var(--theme-color-primary);
  border-radius: 50%;
  height: 46px;
  width: 46px;
  position: absolute;
  right: 24px;
  top: -23px;
  color: var(--text-color-white);
  text-align: center;
}
.star i {
  position: relative;
  top: 12px;
  left: -1px;
}
.star-product-name {
  font-size: var(--font-size-header);
  color: var(--title-color);
  margin-bottom: 0;
  font-family: var(--font-medium);
}
.star-product-attributes {
  color: var(--sub-title-color);
  font-size: var(--font-size-regular);
  margin-bottom: 16px;
  font-family: var(--font-medium);
}
.star-product-description {
  color: var(--text-color);
}

@media screen and (max-width: 768px) {
  .star-product {
    height: auto;
    max-width: none;
    margin-top: 16px;
  }
  .star-product-name {
    font-size: var(--font-size-medium);
  }
}

/* --------------------------------------------- */
/* jobs */
/* --------------------------------------------- */
.job {
  border-bottom: 1px solid var(--light-border-color);
  padding: 10px 24px;
  cursor: pointer;
  position: relative;
}
.job.side-col {
  padding: 10px;
}
.job .right-arrow {
  display: none;
  height: 28px;
  width: auto;
  position: absolute;
  right: 24px;
  top: 32px;
}
.job:hover .job-title {
  color: var(--theme-color-primary);
}
.job:hover .right-arrow {
  display: block;
}
.job:last-child {
  border-bottom: none;
  padding: 10px 24px;
}
.job:last-child.side-col {
  padding: 10px;
}
.job-img {
  height: 62px;
  width: 62px;
  margin: 0 auto;
}
.job-img.side-col {
  height: auto; 
  width: 100%;
}
.job-title {
  font-size: var(--font-size-medium);
  font-family: var(--font-bold);
  color: var(--title-color);
  margin-bottom: 3px;
  margin-top: 5px;
}
.job-title.side-col {
  font-size: 16px
}
.job-company {
  color: var(--text-color);
}

@media screen and (max-width: 768px) {
  .job {
    padding: 5px 0px;
  }
  .job:last-child {
    padding: 5px 0px;
  }
  .job-img {
    height: 42px;
    width: 42px;
  }
  .job-title {
    font-size: var(--font-size-regular);
    font-family: var(--font-bold);
  }
  .job-company {
    font-size: var(--font-size-regular);
  }
}

/* --------------------------------------------- */
/* news */
/* --------------------------------------------- */
.news {
  border-bottom: 1px solid var(--light-border-color);
  padding: 20px 16px;
  cursor: pointer;
  position: relative;
}
.news:hover .news-title {
  color: var(--theme-color-primary);
}
.news:last-child {
  border-bottom: none;
  padding: 10px 16px;
}
.news-img {
  width: 160px;
  max-width: 100%;
  height: auto;
  max-height: 150px;
  margin: 0 auto;
  padding-top: 14px;
}
.news-title {
  font-size: var(--font-size-header);
  font-family: var(--font-medium);
  color: var(--title-color);
  margin-bottom: 3px;
  margin-top: 0;
}
.news-title.side-col {
  font-size: 18px;
  font-family: var(--font-bold);
}
.news-description {
  color: var(--text-color);
}

@media screen and (max-width: 768px) {
  .news {
    padding: 10px;
  }
  .news:last-child {
    padding: 10px;
  }
  .news-img {
    padding-top: 10px;
  }
  .news-title {
    font-size: var(--font-size-medium);
    margin-top: 10px;
  }
  .news-description {
    margin-top: 10px;
  }
}

/* --------------------------------------------- */
/* home product slider */
/* --------------------------------------------- */
.home-news-slider-container {
  position: relative;
  height: auto;
  margin-top: 30px;
}
.home-news-slider-wrapper {
  width: 100%;
}
.home-news-slide img {
  width: 95%;
  height: auto;
  margin: 0 auto;
  border-radius: 4px;
}
.home-news-slide-title {
  font-family: var(--font-medium);
  color: var(--title-color);
  margin-top: 16px;
}
/* custom slick arrows */
.slick-prev.slick-arrow:before, .slick-next.slick-arrow:before {
  content: " ";
  display: inline-block;
  height: 46px;
  width: 46px;
  border-radius: 50%;
  top: calc(50%-26px);
  opacity: 1;
  background-size: contain;
  background-position: top center;
}
.slick-prev.slick-arrow {
  left: -46px;
}
.slick-next.slick-arrow {
  right: -22px;
}
.slick-prev.slick-arrow:before {
  background-image: url('../images/icons/left-arrow-white.png');
  background-color: var(--theme-color-primary);
}
.slick-next.slick-arrow:before {
  background-image: url('../images/icons/right-arrow-white.png');
  background-color: var(--theme-color-primary);
}
.slick-prev.slick-arrow.slick-disabled:before {
  opacity: 1;
  background-image: url('../images/icons/left-arrow-white.png');
  background-color: var(--disabled-btn-bg);
}
.slick-next.slick-arrow.slick-disabled:before {
  opacity: 1;
  background-image: url('../images/icons/right-arrow-white.png');
  background-color: var(--disabled-btn-bg);
}
@media screen and (max-width: 768px) {
  .home-news-slider-container {
    margin-top: 10px;
    padding: 10px 0;
  }
  .home-news-slider-wrapper {
    position: relative;
    top: 0;
    width: 92vw;
    margin-left: 4vw;
  }
  .home-news-slide img {
    width: 98%;
    height: auto;
    margin: 0 auto;
  }
  .home-news-slide-title {
    padding: 0 5px;
  }
}

/* --------------------------------------------- */
/* important addresses */
/* --------------------------------------------- */
.address-list {
  padding-left: 30px;
  margin-bottom: 34px;
}
.address {
  list-style: none;
  margin: 12px 0px 12px 0px;
  font-family: var(--font-medium);
}
.address a {
  color: var(--title-color)
}
.address:hover a {
  color: var(--theme-color-primary);
  text-decoration: none;
}
.address:before {
  content: ' ';
  display: inline-block;
  background-color: var(--theme-color-primary);
  height: 9px;
  width: 9px;
  border-radius: 50%;
  margin-right: 16px;
}
.address-list .see-more-btn{
  color: var(--text-color);
}
@media screen and (max-width: 768px) {
  .address-list {
    padding-left: 16px;
    padding-bottom: 20px;
  }
  .address {
    margin: 7px 0px 7px 0px;
  }
}

/* --------------------------------------------- */
/* bottom quote section */
/* --------------------------------------------- */
.bottom-quote-secton {
  margin-top: 30px;
  margin-bottom: 80px;
}
.quote img {
  width: 100%;
  height: auto;
  border-radius: 4px;
  position: relative;
}
.visitor {
  position: absolute;
  top: 36px;
  left: 150px;
}
.visitor p {
  text-transform: uppercase;
  color: var(--sub-title-color);
  font-size: 15px;
  margin: 0;
}
.visitor .visitor-count {
  color: var(--theme-color-dark);
  font-family: var(--font-bold);
  font-size: 32px;
  line-height: 0.9em;
}

@media screen and (max-width: 768px) {
  .bottom-quote-secton {
    margin-top: 0px;
  }
  .quote {
    margin-bottom: 16px;
  }
}

/* --------------------------------------------- */
/* footer */
/* --------------------------------------------- */
footer {
  background-color: var(--footer-bg);
  padding: 10px 0;
  margin-top: 16px;
}
footer p {
  color: var(--text-color-white);
  margin-top: 20px; 
}
.footer-logo #logo{
  height: 40px;
  width: auto;
}
.footer-logo.logo-middle {
  display: block;
}
.footer-logo.logo-top {
  display: none;
}

@media screen and (max-width: 768px) {
  .footer-wrapper {
    flex-direction: column;
  }
  footer p {
    color: var(--text-color-white);
    margin-bottom: 10px; 
    margin-top: 0;
  }
  .footer-logo #logo{
    height: 32px;
    margin-bottom: 16px;
  }
  .footer-logo.logo-middle {
    display: none;
  }
  .footer-logo.logo-top{
    display: block;
  }
}